<div class="main-container" *ngIf="!showEdit">
    <nz-table
      #basicTable
      [nzData]="cofees"
      [nzShowPagination]="basicTable.data && !isLoading"
    >
      <thead>
        <tr>
          
          <th>Name</th>
          <th>Description</th>
          <th>Region</th>
          <th>Price</th>
          
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="basicTable.data && !isLoading">
        <tr *ngFor="let data of basicTable.data">
          
          <td>{{ data.name }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.region }}</td>
          <td>{{ data.price }}</td>
          
          <td >
            <div (click)="deleteCofee(data.name)" class="delete-cofee">
              <span nz-icon nzType="delete" nzTheme="fill"></span>
            </div>

            <div (click)="editCofee(data.name)" class="edit-cofee">
              <span nz-icon nzType="edit" nzTheme="fill"></span>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div *ngIf="isLoading" id="spinner">
      <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
    </div>
  </div>

  <div class="edit-container" *ngIf="showEdit">
    <app-edit-table [cofee]="cofeeToEdit" (close)="hideEditTable()" (save)="OnEditCofee($event)" ></app-edit-table>
  </div>
  